body {
    background-color: rgba(220, 194, 136, 1);
    color: #000;
}

wrapper {
    width: 80%;
    margin: 0 auto;
}

.header {
   margin-top: 10px;
   border-top: 10px solid rgb(143, 143, 143);
   padding-top: 20px; 
}

img.main {
    float: left;
    padding-left: 40px;
}

img.align-left {
    float: left;
    padding: 6px;
}
img.small {
    width: 30px;
    height: 30px;
}

h1 {
    font-family: 'Spirax', cursive;
    font-size: 48px;
    color: rgba(104, 41, 26, 1);
}

h2 {
    font-family: 'Spirax', cursive;
    font-size: 28px;
    line-height: .2em;
    font-weight: bold;
    color: rgba(156, 74, 50, 1);
    padding-bottom: 30px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgba(77, 77, 77, 1);
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(143, 143, 143);
}

.nav {
    margin: 0;
    padding: 0;
    background-color: rgb(143, 143, 143);
    text-align: center;
}

li {
    display: inline;
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li a {
    display: inline-block;
    color: rgba(104, 41, 26, 1);
    padding: 9px 24px;
    text-decoration: none;
    text-transform: uppercase;
}

/* unvisited link */
a:link {
    color: rgba(104, 41, 26, 1);
}

/* visited link */
a:visited {
    color: rgba(77, 77, 77, 1);
}

/* mouse over link */
a:hover {
    color: rgba(156, 74, 50, 1);
}

/* selected link */
a:active {
    color: rgba(156, 74, 50, 1);
    text-decoration: none;
}

h2.align-center {
    display: block;
    font-family: 'Spirax', cursive;
    font-size: 28px;
    line-height: .2em;
    font-weight: bold;
    color: rgba(156, 74, 50, 1);
    padding: 10px;
}

#container{
    display: flex;
}

aside {
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    padding-right: 20px;
}

article {
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    background-color: #fff;
    border: 1px solid rgba(77, 77, 77, 1);
    border-radius: 2pt;
    padding: 6px;
}

#centered {
    justify-content: space-between;
    width: 40%;
}

img.align-center {
    display: block;
    margin: 0px auto;
}



/* styling for tables */

table {
    width: 600px;
    background-color: #eee;
    border: 1px solid rgba(77, 77, 77, 1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    color: #000;
    border-collapse: collapse;
}

th, td {
    padding: 6px 10px 6px 10px;
    border-right: 1px solid rgba(77, 77, 77, 1);
}

th {
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid rgba(77, 77, 77, 1);
    text-align: left;
}

tr {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: rgba(77, 77, 77, 1);
}

tr.even {
    background-color: rgb(143, 143, 143);
}

